branches:
  - main

plugins:
  - - "@semantic-release/commit-analyzer"
    - preset: angular
      parserOpts:
        headerPattern: '^(\w*)(?:\((.*)\))?!?: (.*)$'
        breakingHeaderPattern: '^(\w*)(?:\((.*)\))?!: (.*)$'
  - "@semantic-release/release-notes-generator"
  - - "@semantic-release/changelog"
    - changelogTitle: "# Changelog

        All notable changes to this project will be documented in this file. Dates are displayed in UTC."
  - - "@semantic-release/exec"
    - prepareCmd: "node ./scripts/prepareForRelease.mjs ${nextRelease.version}"
  - - "@semantic-release/git"
    - assets:
      - "CHANGELOG.md"
      - "AutoCode.cs"
  - - "@semantic-release/github"
    - assets:
      - path: "AutoCode.cs"
        label: "AutoCode.cs"
      releasedLabels:
        - "Status: Released"
