branches:
  - master
plugins:
  - "@semantic-release/commit-analyzer"
  - "@semantic-release/release-notes-generator"
  - - "@semantic-release/changelog"
    - changelogTitle: "# Changelog

        All notable changes to this project will be documented in this file. Dates are displayed in UTC."
  - - "@semantic-release/exec"
    - prepareCmd: "node ./scripts/prepareForRelease.js ${nextRelease.version}"
  - - "@semantic-release/git"
    - assets:
      - "CHANGELOG.md"
      - "AutoCode.cs"
  - - "@semantic-release/github"
    - assets:
      - path: "AutoCode.cs"
        label: "AutoCode.cs"
      labels:
        - "Priority: Critical"
      releasedLabels:
        - "Status: Released"
